[submodule "Dear_ImGui"]
    path = external/imgui-master
    url = https://github.com/ocornut/imgui.git
[submodule "Google_Test"]
	path = external/googletest
	url = https://github.com/google/googletest.git
